pyTelegramBotAPI==4.18.0
requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.1.4
pytz==2024.1
deep-translator==1.11.4
feedparser==6.0.11
moviepy==1.0.3
schedule==1.2.1
yt-dlp==2025.3.31
psutil==5.9.8
astral==3.2
pyluach==2.2.0
hdate==0.10.0
python-telegram-bot==20.7
pandas
openpyxl
