python-telegram-bot==20.8
requests
beautifulsoup4
pandas
pytz
deep-translator
feedparser
moviepy==1.0.3
schedule==1.2.1
hebcal
yt-dlp
pyTelegramBotAPI
pyluach==0.2.5
astral==2.2
psutil==5.9.5
